$height-header-project: $height-header-contact;

$bg-header-project: "../../../img/bg-header-project.jpg";

$margin-b-header-project: $margin-bottom-header-contact;

$padding-t-header-project: $padding-top-header;

