$height-head-blog: 21.25em;
$img-head-blog: "../../../img/bg_header-blog.jpg";

$padding-top-head-bl__md: 6.25em;

$color-head-link: #fff;
$color-hover-head-link: #6fc754;

$padding-breadcrumbs: 0.5em;

$margin-bottom-header-blog: 6.75em;