.clearfix{
	&:before,
	&:after{
		content: " ";
		display: table;
	}

	&:after{
		clear: both;
	}
}

.l-center{
	width: 1170px;
	margin: 0 auto;
}

.l-center_c{
	@extend .l-center;
	text-align: center;
}

// footer bottom
html, body{
	height: 100%;
}

.l-wrapper{
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;

	&:after{
		position: static;
		content: " ";
		display: block;
		height: $footer-height;
		z-index: 1;
	}
}

.b-footer{
	position: relative;
	height: $footer-height;
	margin: -$footer-height 0 0 0;
	zoom: 1;
	z-index: 100;
}
// end footer bottom

body{
	font-family: $f-mont-lig;
	font-size:$font-default;
	font-weight: bold;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.b-btn-circle{
	font-size: 1em;
	font-weight: bold;
	padding: 1.25em 3.625em;
	border: none;
	@include border-radius(2em);
}

h1,h2,h3,h4,h5,h6{
	color: $head-color;
}

input,
textarea {
    outline:none;
}