$bg-ava: #3c5a99;
$bg-info: #f5f5f8;

$margin-b-b-comments__item: 2.68em;
$margin-b-b-comments-forma: $margin-b-b-comments__item;

$padding-l-info: 6em;

$width-ava: 4.75em;
$height-ava: $width-ava;

$color-text: #8c8f94;
$color-border-input: #d4d4d5;
$color-head: #26272d;