/*core*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.l-center, .l-center_c {
  width: 1170px;
  margin: 0 auto; }

.l-center_c {
  text-align: center; }

html, body {
  height: 100%; }

.l-wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }
  .l-wrapper:after {
    position: static;
    content: " ";
    display: block;
    height: 33.6875em;
    z-index: 1; }

.b-footer {
  position: relative;
  height: 33.6875em;
  margin: -33.6875em 0 0 0;
  zoom: 1;
  z-index: 100; }

body {
  font-family: "montserratlight";
  font-size: 0.875em;
  font-weight: bold; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.b-btn-circle {
  font-size: 1em;
  font-weight: bold;
  padding: 1.25em 3.625em;
  border: none;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  border-radius: 2em; }

h1, h2, h3, h4, h5, h6 {
  color: #26272d; }

/*end core*/
/*header*/
.b-header {
  min-height: 62.5em;
  background: url("../../img/bg_header.jpg") top center no-repeat;
  background-size: cover;
  padding: 3.75em 0 0 0; }

.b-top-header {
  min-height: 1em;
  margin: 0 0 23.325em 0; }

.b-logo {
  float: left;
  margin: 0 1em 0 0; }

.b-logo__link {
  font-family: "montserratlight";
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #26272d; }
  .b-logo__link span {
    font-family: "montserratsemibold"; }
  .b-logo__link:hover {
    text-decoration: underline; }

.b-header-menu {
  float: right; }

.b-header-menu__item {
  float: left; }

.b-header-menu__link {
  font-family: "montserratregular";
  font-size: 1em;
  text-decoration: none;
  display: block;
  padding: 0 1em;
  color: #26272d; }
  .b-header-menu__link:hover {
    text-decoration: underline; }

.b-mid-header {
  text-align: center; }

.b-header__head {
  font-family: "montserratregular";
  font-size: 3.875em;
  margin: 0 0 0.7em 0; }

.b-header__desc {
  font-size: 1.25em;
  width: 50%;
  margin: 0 auto 4.06em; }

.b-header__btn {
  background: none;
  border: 2px solid #26272d; }
  .b-header__btn:hover {
    background: #26272d;
    color: #fff; }

/*end header*/
/*post*/
.b-post {
  padding: 8.312em 0 10.187em 0; }

.b-post__text {
  position: relative;
  width: 60%;
  border: 2px solid #267df4;
  padding: 4.375em 2.5em; }
  .b-post__text:before {
    content: "i";
    font-family: "ico";
    font-size: 6em;
    font-weight: 100;
    color: #267df4;
    position: absolute;
    top: -7.7%;
    left: 10%; }

.b-post__head {
  font-family: "montserratregular";
  font-size: 1.875em;
  text-transform: uppercase;
  width: 30%; }

.b-post_desc p {
  color: #9fa3a7;
  margin: 0 0 2.5em 0;
  width: 50%; }

.b-post__img {
  position: absolute;
  top: 7%;
  right: -35%; }

/*end post*/
/*services*/
.b-services {
  background: #f5f5f8;
  padding: 6.25em 0 9.375em; }

.b-services__head, .b-subscribe__head {
  position: relative;
  font-family: "montserratregular";
  font-size: 2.625em;
  text-align: center;
  margin: 0 0 2.625em 0; }
  .b-services__head:after, .b-subscribe__head:after {
    content: "";
    position: absolute;
    bottom: -150%;
    left: 50%;
    border: 2px solid #267df4;
    width: 2em;
    margin: 0 0 0 -1em; }

.b-services__desc {
  text-align: center;
  color: #8c8f94;
  font-style: italic;
  margin: 0 0 5.315em 0; }

.b-services__ltem {
  position: relative;
  float: left;
  width: 21%;
  margin: 0 2% 5% 2%;
  padding: 5.937em 0 0;
  text-align: center; }

.b-services__ltem_a:before,
.b-services__ltem_b:before,
.b-services__ltem_c:before,
.b-services__ltem_d:before,
.b-services__ltem_e:before,
.b-services__ltem_f:before,
.b-services__ltem_g:before,
.b-services__ltem_i:before {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: "ico";
  font-weight: 100;
  font-size: 6em;
  color: #26272d;
  margin: 0 0 0 -0.5em; }

.b-services__ltem_a:before {
  content: "a"; }

.b-services__ltem_b:before {
  content: "b"; }

.b-services__ltem_c:before {
  content: "c"; }

.b-services__ltem_d:before {
  content: "d"; }

.b-services__ltem_e:before {
  content: "e"; }

.b-services__ltem_f:before {
  content: "f"; }

.b-services__ltem_g:before {
  content: "g"; }

.b-services__ltem_i:before {
  content: "i"; }

.b-serv-option__head {
  text-transform: uppercase;
  margin: 0 0 1.625em; }

.b-serv-option__desc p {
  color: #8c8f94;
  font-size: 0.8125em; }

/*end services*/
/*responsive*/
.b-responsive {
  background: #071021 url("../../img/bg-responsive.png") no-repeat top center;
  padding: 15.93em 0 9.18em 0; }

.b-responsive__preview {
  text-align: center;
  margin: 0 0 13.43em 0; }

.b-responsive__head {
  position: relative;
  font-family: "montserratregular";
  font-size: 2.625em;
  text-align: center;
  color: #fff;
  margin: 0 0 1em 0; }

.b-responsive__desc {
  text-align: center;
  color: #8c8f94;
  font-style: italic;
  margin: 0 0 5.315em 0; }

.b-responsive__btn {
  background: #267df4;
  color: #fff;
  margin: 0 auto; }
  .b-responsive__btn:hover {
    background: #fff;
    color: #267df4; }

.b-responsive__list {
  display: block;
  text-align: justify;
  margin: 0 0 9.18em 0; }
  .b-responsive__list:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0; }

.b-responsive__item {
  display: inline-block;
  text-align: center;
  color: #0960d7;
  padding: 0 8%; }

.b-responsive__count {
  font-size: 2.5em;
  color: #fff;
  margin: 0 0 0.5em 0; }
  .b-responsive__count span {
    font-size: 1.5em;
    color: #0960d7; }

/*end responsive*/
/*work*/
.b-work {
  padding: 6.5em 0 10.5em 0; }

.b-work__list {
  font-size: 0; }

.b-work__item {
  position: relative;
  float: left;
  width: 25%;
  margin: 0 0 2% 0;
  font-size: 16px; }
  .b-work__item:hover .b-work__desc {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.b-work__desc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(255, 255, 255, 0.7);
  padding: 0 0 0 10%; }

.b-work__item-head {
  font-family: "montserratregular";
  font-size: 1em;
  margin: 10% 20% 10% 10%; }

.b-work__options {
  margin: 0 0 0 10%;
  color: #8c8f94;
  font-size: 0.875em; }

.b-work__link {
  text-decoration: none;
  color: #8c8f94;
  font-size: 0.875em; }
  .b-work__link:hover {
    color: #26272d; }

.b-work__btn {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 2em;
  height: 2em;
  border: 1px solid #26272d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: none;
  color: #26272d; }
  .b-work__btn:after {
    position: absolute;
    top: 15%;
    left: 24%;
    content: "\f061";
    font-family: "FontAwesome"; }
  .b-work__btn:hover {
    border: 1px solid #8c8f94;
    color: #8c8f94; }

/*end work*/
/*subscribe*/
.b-subscribe {
  text-align: center;
  padding: 2em 0 7.81em 0; }

.b-subscribe__head {
  margin: 0 0 1.23em 0; }
  .b-subscribe__head:after {
    display: none; }

.l-subscribe__form {
  width: 49%;
  height: 3.125em;
  margin: 0 auto;
  border-color: #d4d4d5;
  text-align: left;
  padding: 0.1% 0 0 0;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  border-radius: 3.125em; }

.b-subscribe__email {
  height: 2.8em;
  width: 67%;
  margin: 0 0 0 1em;
  border: none;
  font-style: normal;
  color: #67696b;
  outline: none;
  /* Firefox 19+ */
  /* Firefox 18- */
  -webkit-border-radius: 2.8em;
  -moz-border-radius: 2.8em;
  -ms-border-radius: 2.8em;
  border-radius: 2.8em; }
  .b-subscribe__email ::-webkit-input-placeholder {
    color: #67696b; }
  .b-subscribe__email ::-moz-placeholder {
    color: #67696b; }
  .b-subscribe__email :-moz-placeholder {
    color: #67696b; }
  .b-subscribe__email :-ms-input-placeholder {
    color: #67696b; }

.b-subscribe__submit {
  height: 2.8em;
  width: 28%;
  margin: 0 0 0 1%;
  background: #6fc754;
  color: #fff;
  border: 1px solid #6fc754;
  -webkit-border-radius: 2.8em;
  -moz-border-radius: 2.8em;
  -ms-border-radius: 2.8em;
  border-radius: 2.8em; }
  .b-subscribe__submit:hover {
    background: #fff;
    color: #6fc754; }

/*end subscribe*/
/*footer*/
.b-footer {
  background: #f5f5f8;
  padding: 5.75em 0 2.31em 0;
  z-index: 100; }

.b-footer__top {
  min-height: 30em;
  color: #8c8f94; }

.b-footer__desc {
  float: left;
  width: 23%;
  margin: 0 27% 0 0; }

.b-footer__contact,
.b-footer-menu {
  float: left;
  width: 17%;
  margin: 0 0 0 8%; }

.b-footer__head {
  text-transform: uppercase;
  font-family: "montserratregular";
  margin: 0 0 2.31em 0; }
  .b-footer__head span {
    font-weight: 100; }

.b-contact__item,
.b-footer-menu__item {
  position: relative;
  padding: 0 0 0 21.5%;
  margin: 0 0 1.31em 0; }

.b-footer-menu__item {
  padding: 0; }

.b-contact__item_mail:before,
.b-contact__item_phone:before,
.b-contact__item_fax:before,
.b-contact__item_map:before {
  display: block;
  position: absolute;
  top: -17%;
  left: 0;
  font-family: "FontAwesome";
  font-size: 1.3em; }

.b-contact__item_mail:before {
  content: "\f003"; }

.b-contact__item_phone:before {
  content: "\f095"; }

.b-contact__item_fax:before {
  content: "\f02f"; }

.b-contact__item_map:before {
  content: "\f041"; }

.b-contact__link,
.b-footer-menu__link {
  color: #8c8f94;
  text-decoration: none; }
  .b-contact__link:hover,
  .b-footer-menu__link:hover {
    color: #26272d; }

.b-footer__bottom {
  height: 4em;
  border-top: 1px solid #eaebee;
  padding: 2em 0 0; }

.b-footer_copy {
  float: right;
  font-family: "montserratregular";
  font-size: 0.56em;
  text-transform: uppercase;
  text-align: right; }
  .b-footer_copy div {
    margin: 0 0 1em 0; }

.b-footer-soc__link_tw,
.b-footer-soc__link_fb,
.b-footer-soc__link_pi,
.b-footer-soc__link_in {
  position: relative;
  float: left;
  margin: 0 0 0 3%;
  width: 2em;
  height: 2em;
  font-family: "FontAwesome";
  text-decoration: none;
  padding: 0.56em;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .b-footer-soc__link_tw:hover,
  .b-footer-soc__link_fb:hover,
  .b-footer-soc__link_pi:hover,
  .b-footer-soc__link_in:hover {
    opacity: .8; }

.b-footer-soc__link_tw {
  color: #28aae1;
  border-color: #28aae1; }
  .b-footer-soc__link_tw:after {
    position: absolute;
    content: "\f099";
    font-size: 1.8em;
    top: 21%;
    left: 21%; }

.b-footer-soc__link_fb {
  color: #3c5a99;
  border-color: #3c5a99; }
  .b-footer-soc__link_fb:after {
    position: absolute;
    content: "\f09a";
    font-size: 1.8em;
    top: 20%;
    left: 29%; }

.b-footer-soc__link_pi {
  color: #cb2028;
  border-color: #cb2028; }
  .b-footer-soc__link_pi:after {
    position: absolute;
    content: "\f231";
    font-size: 1.8em;
    top: 20%;
    left: 29%; }

.b-footer-soc__link_in {
  color: #0177b5;
  border-color: #0177b5; }
  .b-footer-soc__link_in:after {
    position: absolute;
    font-family: sans-serif;
    content: "in";
    font-size: 1.8em;
    top: 13%;
    left: 24%; }

/*end footer*/
