$footer-height: 33.6875em;

$font-default: 0.875em;

$f-awersome: 'FontAwesome';
$f-lato-light-i: 'latolight_italic';
$f-mont-lig: 'montserratlight';
$f-mont-reg: 'montserratregular';
$f-mont-sem: 'montserratsemibold';
$f-ico: 'ico';

$width-size: 73.125em;

$head-color: #26272d;